.mainlist-container {
    width: 100%;

    display: flex;
    flex-direction: column;
}

.mainlist-container .mainlist-title {
    font-size: 24px;
    font-weight: bold;

    padding-left: 15px;
    padding-bottom: 10px;
}

.mainlist-container .mainlist-list {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.mainlist-container .mainlist-list button {
    width: 160px;
    height: 150px;

    display: inline-block;
    flex-direction: row;

    text-align: center;

    margin: 3rem;

    padding: 5px;

    background-color: #f1f1f1;
    color: black;
    border: none;
    cursor: pointer;

    font-weight: bold;
    

    border-radius: 10px;

    box-shadow: 5px 5px 5px #A4A4A4;
}


.mainlist-container .mainlist-list img {
    width: 100px;

    opacity: 50%;
}