.list-category-button {
    width: 100%;

    display: flex;
    
    justify-content: center;

    margin-bottom: 10px;
}

.list-category-button-one {
    width: 30%;
    height: 35px;

    background: #ECECEC;

    border: 1px solid #ECECEC;
    border-radius: 10px;
    
    margin: 10px;

    font-weight: bold;
}

.list-category-button-two {
    width: 30%;
    height: 35px;

    background: #B6BFF8;

    border: 1px solid #B6BFF8;
    border-radius: 10px;
    
    margin: 10px;

    font-weight: bold;
}